root = true

[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{json,html,svg}]
indent_style = tab
tab_width = 4

[*.md]
trim_trailing_whitespace = false

[*.{js,md,scss,rb,sh,yml}]
indent_style = space
indent_size = 2

[*.{rb,sh,yml}]
end_of_line = lf

[{Gemfile*,.routing/**,bin/**}]
indent_style = space
indent_size = 2
end_of_line = lf

[*.txt]
indent_style = space
indent_size = 2
insert_final_newline = false
