# VS Code
.vscode/*
!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json

# VS Code: Front Matter
/.frontmatter

# Jekyll
/_site*/
/.jekyll-cache/
/.jekyll-metadata

# Bundler
/.bundle/
/vendor/

# Node
/node_modules/

# Stylelint
.stylelintcache

# Junk files (Linux)
**/*.swp

# Junk files (Windows)
**/Thumbs.db
**/[Dd]esktop.ini

# Ignore drafts
/_blog/DRAFT_*
