**/debug.log

# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json

# VS Code: Front Matter
/.frontmatter

# Jekyll
/_site*/
/.jekyll-cache/
/.jekyll-metadata

# Bundler
/.bundle/
/vendor/


# Junk files (Windows)
**/Thumbs.db
**/[Dd]esktop.ini
