<!DOCTYPE html>
<html lang="en" dir="ltr" data-theme="poi">
	{% include layout/head.html %}
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="bg-layer__1"></div>
		<div class="bg-layer__2"></div>
		<a class="sr-skip" href="#main">SKIP TO MAIN CONTENT</a>
		{% include layout/header.html %}
		<div class="container" itemprop="mainContentOfPage" itemscope="" role="article">
			<article id="main" tabindex="-1" itemscope="" itemtype="http://schema.org/BlogPosting">
				{% include layout/title.html %}
				<hr aria-hidden="true">
				{% if page.hero and page.hero != "" %}
					<section class="hero">
						<img alt="" src="{{ page.hero }}">
					</section>
				{% endif %}
				<div class="row">
					<div class="col order-1">
						<section itemprop="articleBody">
							{% include outdated.html %}
							{{ content }}
						</section>
					</div>
					<div class="col-3 order-2">
						<nav aria-label="On This Page">
							<span class="toc-title">On This Page</span>
							{% toc %}
						</nav>
					</div>
				</div>
				<hr aria-hidden="true">
			</article>
			{% include layout/blog/footer.html %}
		</div>
	</body>
</html>
