<!DOCTYPE html>
<html lang="en" dir="ltr" data-theme="poi">
	{% include layout/head.html %}
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="bg-layer__1"></div>
		<div class="bg-layer__2"></div>
		<a class="sr-skip" href="#main">SKIP TO MAIN CONTENT</a>
		{% include layout/header.html %}
		<div class="container" itemprop="mainContentOfPage" itemscope="" role="article">
			<article id="main" itemscope="" itemtype="http://schema.org/BlogPosting">
				{% include layout/title.html %}
				<hr aria-hidden="true">
				<div itemprop="articleBody">
					{{ content }}
				</div>
				<hr aria-hidden="true">
			</article>
			{% include blog/footer.html %}
		</div>
	</body>
</html>
