<!DOCTYPE html>
<html lang="en" dir="ltr" data-theme="poi">
	{% include layout/head.html %}
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="bg-layer__1"></div>
		<div class="bg-layer__2"></div>
		<a class="sr-skip" href="#main">SKIP TO MAIN CONTENT</a>
		{% include layout/header.html %}
		<div class="container" role="main">
			<main id="main" tabindex="-1" itemprop="mainContentOfPage" itemscope="">
				{% include layout/title-samaritan.html %}
				{{ content }}
				<hr>
				{% include layout/pages/music/footer.html %}
			</main>
		</div>
	</body>
</html>
