<!DOCTYPE html>
<html lang="en" dir="ltr" data-theme="poi">
	{% include layout/head.html %}
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="bg-layer__1"></div>
		<div class="bg-layer__2"></div>
		<a class="sr-skip" href="#main">SKIP TO MAIN CONTENT</a>
		{% include layout/header.html %}
		<div id="top"></div>
		<div class="container" role="main">
			<main id="main" itemprop="mainContentOfPage" itemscope="">
				<div class="container__title">
					{% assign pt = page.title | split: " | " %}
					<h1>{{ pt[0] | upcase }}</h1>
					<h2>
						{% if page.short_desc %}
							{{ page.short_desc | remove: "." | upcase }}
						{% else %}
							{{ page.description | remove: "." | upcase }}
						{% endif %}
					</h2>
				</div>
				<hr aria-hidden="true">
				{{ content }}
				<hr aria-hidden="true">
			</main>
		</div>
	</body>
</html>
