<div class="container__col">
	<div class="card__machine">
		{% if include.type and include.type != "" %}
			{% if include.active == true %}
				<h2>
					<span class="dot__active"></span>
					<span class="title__active">{{ include.title }}</span>
				</h2>
				<span>
					<span class="type__text">Type:</span> <span class="type__other">{{ include.type }}</span>
				</span>
				<span>
					<span class="status__text">Status:</span> <span class="status__active">Active</span>
				</span>
			{% else %}
				<h2>
					<span class="dot__inactive"></span>
					<span class="title__inactive">{{ include.title }}</span>
				</h2>
				<span>
					<span class="type__text">Type:</span> <span class="type__other">{{ include.type }}</span>
				</span>
				<span>
					<span class="status__text">Status:</span> <span class="status__inactive">Discontinued</span>
				</span>
			{% endif %}
		{% else %}
			{% if include.active == true %}
				<h2>
					<span class="dot__active"></span>
					<span class="title__active">{{ include.title }}</span>
				</h2>
				<span>
					<span class="status__text">Status:</span> <span class="status__active">Active</span>
				</span>
			{% else %}
				<h2>
					<span class="dot__inactive"></span>
					<span class="title__inactive">{{ include.title }}</span>
				</h2>
				<span>
					<span class="status__text">Status:</span> <span class="status__inactive">Discontinued</span>
				</span>
			{% endif %}
		{% endif %}
		<hr>
		<p>
			<span>Description:</span> {{ include.description }}
			<br>
			<span>Language:</span> {{ include.language }}
		</p>
		<hr>
		<p>
			<a aria-label="Website" href="{{ include.website }}">Website</a> &middot;
			{% if include.download and include.download != "" %}
				<a aria-label="Download Page" href="{{ include.download }}">Download</a> &middot;
			{% endif %}
			<a aria-label="Source Code" href="{{ include.source }}">Source Code</a>
		</p>
	</div>
</div>
