<div class="card__samaritan-about">
	<div class="subtitle">
		<div class="icon__deviant" aria-hidden="true"></div>
		<span aria-hidden="true">///</span>
		<span>ABOUT</span>
	</div>
	<div class="title">{{ site.meta.first | upcase }} {{ site.meta.last | upcase }}</div>
	<div class="content">
		<div class="content__desc">{{ site.meta.description }}</div>
		{% if site.meta.location and site.meta.location != "" %}
			<div class="content__row">
				<div class="text">Location:</div>
				<div class="label">
					<a href="https://www.wikipedia.org/w/index.php?search={{ site.meta.location | url_encode }}" aria-label="{{ site.meta.location }}">
						{{ site.meta.location }}
					</a>
				</div>
			</div>
		{% endif %}
		<div class="content__row">
			<div class="text">Email:</div>
			<address class="label">
				{% include email.html %}
			</address>
		</div>
		{%- assign accounts = site.data.accounts | where: "featured", true -%}
		{% for a in accounts %}
			<div class="content__row">
				<div class="text">{{ a.name }}:</div>
				<div class="label">
					<a rel="me" href="{{ a.url }}" aria-label="{{ a.username }}" translate="no">{{ a.username }}</a>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
