<div class="box__samaritan">
	<div class="subtitle">
		<div class="icon__deviant" aria-hidden="true"></div>
		<span> /// {{ include.subtitle | upcase }}</span>
	</div>
	<div class="title">{{ include.title | upcase }}</div>
	<div class="content">
		<div class="row">
			<div class="desc">{{ include.description }}</div>
		</div>
		{% if include.location and include.location != "" %}
			<div class="row">
				<div class="text">Location:</div>
				<div class="label bg__darkgray">
					<a aria-label="Location" href="https://www.wikipedia.org/w/index.php?search={{ include.location | escape }}">{{ include.location }}</a>
				</div>
			</div>
		{% endif %}
		{% if page.layout == "home" %}
			{% for a in site.data.accounts.short_list %}
				<div class="row">
					<div class="text">{{ a.name }}:</div>
					<div class="label bg__lightgray">
						<a aria-label="{{ a.name }} Account" href="{{ a.url }}" rel="me">{{ a.username }}</a>
					</div>
				</div>
			{% endfor %}
			<div class="row">
				<div class="text">Email:</div>
				<div class="label bg__darkgray ep__cd"></div>
			</div>
		{% endif %}
	</div>
</div>
