<div class="card__samaritan">
	<div class="subtitle">
		<div class="icon__deviant" aria-hidden="true"></div>
		<span aria-hidden="true">///</span>
		<span>ABOUT</span>
	</div>
	<div class="title">{{ site.data.meta.first | upcase }} {{ site.data.meta.last | upcase }}</div>
	<div class="content">
		<div class="content__desc">{{ site.data.meta.description }}</div>
		{% if site.data.meta.location and site.data.meta.location != "" %}
			<div class="content__row">
				<div class="text">Location:</div>
				<div class="label">
					<a href="https://www.wikipedia.org/w/index.php?search={{ site.data.meta.location | url_encode }}" aria-label="{{ site.data.meta.location }}">
						{{ site.data.meta.location }}
					</a>
				</div>
			</div>
		{% endif %}
		{% for a in site.data.accounts %}
			<div class="content__row">
				<div class="text">{{ a.name }}:</div>
				<div class="label">
					<a rel="me" href="{{ a.url }}" aria-label="{{ a.username }}" translate="no">{{ a.username }}</a>
				</div>
			</div>
		{% endfor %}
		<div class="content__row">
			<div class="text">Email:</div>
			<address class="label">
				{% include email.html
					user   = "a"
					domain = "strappazzon.xyz"
				%}
			</address>
		</div>
	</div>
</div>
