<div class="card__samaritan">
	<div class="subtitle">
		<div class="icon__deviant" aria-hidden="true"></div>
		<span> /// ABOUT</span>
	</div>
	<div class="title">{{ site.title | upcase }}</div>
	<div class="content">
		<div class="content__desc">{{ page.description }}</div>
		{% if include.location != "" %}
			<div class="content__row">
				<div class="text">Location:</div>
				<div class="label">
					<a href="https://www.wikipedia.org/w/index.php?search={{ include.location | url_encode }}" aria-label="Location">
						{{ include.location }}
					</a>
				</div>
			</div>
		{% endif %}
		{% for a in site.data.accounts %}
			<div class="content__row">
				<div class="text">{{ a.name }}:</div>
				<div class="label">
					<a rel="me" href="{{ a.url }}" aria-label="{{ a.name }} Account">{{ a.username }}</a>
				</div>
			</div>
		{% endfor %}
		<div class="content__row">
			<div class="text">Email:</div>
			<address class="label">
				{% include email.html
					user   = "a"
					domain = "strappazzon.xyz"
				%}
			</address>
		</div>
	</div>
</div>
