<div class="card__samaritan-nav">
	<div class="title">LINKS</div>
	<nav class="content" aria-label="Main Navigation">
		<div class="subtitle">
			<span>WEBSITE PAGE</span>
			<span>PATH</span>
		</div>
		{% for link in site.data.nav %}
			{% if link.hide == true %}
				{% continue %}
			{% else %}
				<div class="content__row">
					<div class="text">{{ link.name }}</div>
					<div class="label">
						<a href="{{ link.path }}" aria-label="{% if link.description %}{{ link.description }}{% else %}{{ link.name }}{% endif %}" translate="no">
							{{ link.path }}
						</a>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</nav>
</div>
