@keyframes anim-blink {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes anim-glow {
	0% { box-shadow: 0 0 #ff0000; }
	100% { box-shadow: 0 0 0 14px transparent; }
}

@keyframes anim-cursor-blink {
	0%   { color: #ccc }
	47%  { color: #fff }
	50%  { color: #000 }
	97%  { color: #000 }
	100% { color: #fff }
}
