body {
	article {
		& > hr {
			box-sizing: content-box;
			overflow: visible;
			margin: 1rem 0 1rem 0;
			height: 0;
			border: 0;
			border-top: 1px solid #ff0000;
			box-shadow: 0 0 15px rgba(255, 0, 0, 0.8);
		}
		& > h2 {
			text-transform: uppercase;
		}
		h1 {
			// Reset UA's h1 font-size inside <article>
			font-size: 2rem;
			margin-block-start: .67em;
			margin-block-end: .67em;
		}
		img {
			border: 1px solid rgba(128, 128, 128, 0.25);
		}
		img,
		svg {
			vertical-align: middle;
		}
		img,
		video {
			max-width: 100%;
			height: auto;
			&.center {
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
		}
		img {
			& + em {
				display: block;
			}
		}
		figcaption,
		img + em {
			margin-top: 0.33rem;
			text-align: center;
			font-style: italic;
			color: #808080;
		}
		figure {
			margin: 0;
		}
		blockquote {
			border: 8px solid #808080;
			margin: 1rem;
			padding: 0.8rem 1rem;
			color: #eee;
			background-color: rgba(0, 0, 0, 0.8);
			p {
				margin: 0;
			}
			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				margin: 1rem 0;
				&:nth-child(1) {
					margin: 0;
					margin-bottom: 1rem;
				}
			}
		}
		mark {
			padding: 0 0.5rem;
			background-color: #dd0000;
			color: #fff;
			text-transform: uppercase;
		}
		p {
			line-height: 1.66;
		}
		u {
			text-decoration: none;
			border-bottom: 1px solid #fff;
		}
		*:not(pre) {
			& > code,
			& > kbd {
				font-size: 1.05rem;
				border: 1px solid #808080;
				padding: rem(3) rem(6);
			}
		}
		sup,
		sub {
			margin-left: -0.2rem;
		}
		pre,
		code,
		kbd {
			@include font("Ubuntu Mono", true);
		}
		pre,
		code {
			font-size: 1.166rem;
			direction: ltr;
			unicode-bidi: bidi-override;
		}
		pre {
			display: block;
			margin-top: 0;
			padding: 0.66rem 0.8rem;
			border-radius: 0;
			border: 1px solid #808080;
			overflow: auto;
			code {
				word-break: normal;
			}
			p {
				margin-bottom: 0;
			}
		}
		code,
		kbd {
			background-color: #1d1f21;
			color: #c5c8c6;
			word-wrap: break-word;
		}
		kbd {
			cursor: url("/static/img/cursor_hand.png"), auto;
			border-radius: 3px;
		}
		ol {
			// https://www.w3.org/Style/Examples/007/color-bullets.en.html#numbers
			li {
				counter-increment: li;
				&::before {
					content: counter(li);
					display: inline-block;
					margin: 0;
					margin-right: 0.5rem;
					font-weight: bolder;
					color: rgba(255, 0, 0, 0.9);
				}
			}
		}
		ul {
			li {
				& > ul {
					li {
						&::before {
							content: "\25B6";
							font-size: 0.85rem;
						}
					}
				}
			}
			li {
				&::before {
					font-size: 1rem;
					content: "\25CF";
				}
			}
			li {
				&::before,
				& > ul li::before {
					display: inline-block;
					margin: 0;
					margin-right: 0.5rem;
					color: rgba(255, 0, 0, 0.9);
				}
			}
		}
		ol,
		li {
			& > ul {
				padding-left: 1.5rem;
			}
			br + code {
				margin-left: rem(16);
			}
		}
		ol,
		ul {
			line-height: 1.9;
			ol,
			ul {
				margin-bottom: 0;
			}
		}
		li {
			p {
				display: inline-block;
				margin: 0;
			}
		}
		dl {
			dt {
				@include font("Acens", false);
				text-transform: uppercase;
				letter-spacing: 0.133rem;
			}
			dd {
				margin: 0;
				padding-left: 1.33rem;
				&::before {
					content: "\25B6\00a0";
					color: rgba(255, 0, 0, 0.9);
					font-size: 0.85rem;
				}
			}
		}
		// https://codepen.io/knyttneve/pen/LamBMP
		details {
			summary {
				display: block;
				cursor: url("/static/img/cursor_hand.png"), auto;
				padding: 0.25rem 0;
				font-size: 1.075rem;
				text-transform: uppercase;
				border-bottom: 2px solid;
				user-select: none;
				& ~ div {
					display: flex;
					flex-wrap: wrap;
					overflow: auto;
					//max-height: 33vh;
					padding: 0.75rem;
					border-bottom: 2px solid #808080;
					p {
						&:last-of-type {
							margin-bottom: 0;
						}
					}
				}
			}
			&[open] {
				& > summary {
					color: #ff0000;
				}
				& > div {
					animation: anim-details-slide-down 0.25s forwards;
				}
			}
		}
		table {
			border-collapse: collapse;
			width: 100%;
			table-layout: fixed;
			caption {
				@include font("Acens", false);
				letter-spacing: 0.133rem;
				//text-align: left;
				margin-bottom: 0.33rem;
			}
			caption,
			th {
				text-transform: uppercase;
			}
			thead {
				border-bottom: 1px solid #808080;
			}
			tbody {
				tr {
					&:nth-child(even) {
						background-color: #1d1f21;
					}
					&:nth-child(odd) {
						background-color: #111214;
					}
				}
			}
			tfoot {
				border-top: 1px solid #808080;
			}
			thead,
			tfoot {
				background-color: rgba(59, 58, 59, 0.8);
			}
			td,
			th {
				padding: 0.4rem;
				text-align: left;
				vertical-align: top;
				word-wrap: break-word;
			}
		}
		input {
			cursor: url("/static/img/cursor_hand.png"), auto;
			&[type="checkbox"] {
				appearance: none;
				position: relative;
				width: 1rem;
				height: 1rem;
				background-color: #1d1f21;
				border: 1px solid #808080;
				margin: 0;
				margin-right: 0.5rem;
				&:checked {
					&::before {
						content: "\2573";
						font-weight: bolder;
						font-size: 0.5rem;
						position: absolute;
						top: 0;
						left: 0.185rem;
						width: 1rem;
						height: 1rem;
						color: #dd0000;
					}
				}
			}
			&[readonly] {
				color: #ccc;
				text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
			}
			&[disabled],
			&[readonly],
			&[type="text"] {
				background-color: rgba(134, 0, 0, 0.4);
				cursor: url("/static/img/cursor.png"), auto;
			}
		}
		progress {
			appearance: none;
			display: block;
			border: 1px solid #808080;
			border-radius: 0;
			height: 24px;
			width: 100%;
			margin: 1rem 0;
			color: rgba(255, 0, 0, 0.8); // IE10+
			background-color: #808080; // Firefox, IE10+
			&::-webkit-progress-bar,
			&::-webkit-progress-value {
				border-radius: 0;
			}
			&::-webkit-progress-bar {
				background-color: #808080;
			}
			&::-webkit-progress-value {
				background-color: rgba(255, 0, 0, 0.8);
			}
			&::-moz-progress-bar {
				border-radius: 0;
				background-color: rgba(255, 0, 0, 0.8);
			}
		}
		h5,
		h6,
		figure,
		blockquote,
		details,
		table,
		dl,
		ol,
		ul {
			margin-bottom: 1rem;
		}
		.footnotes {
			border-top: 1px solid #ff0000;
			padding-top: 1rem;
		}
	}
	footer {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0 1rem;
		padding-bottom: 0.5rem;
		color: #ccc;
		a:link,
		a:visited {
			color: inherit;
		}
	}
}
