@font-face {
	font-family: "Acens";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/static/webfonts/Acens.woff2") format("woff2");
}

@font-face {
	font-family: "DejaVu Sans Mono";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/static/webfonts/DejaVuSansMono.woff2") format("woff2");
}

@font-face {
	font-family: "Magda Clean Mono";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/static/webfonts/magdacleanmono-regular.woff2") format("woff2");
}

@font-face {
	font-family: "Ubuntu Mono";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/static/webfonts/Ubuntu-Mono.woff2") format("woff2");
}
