@import "helpers/functions";
@import "helpers/mixins";
@import "helpers/vars";
@import "_fonts";
@import "_animations";

::-webkit-scrollbar { width: 12px; height: 12px; }
::-webkit-scrollbar-track { background-color: #737373; }
::-webkit-scrollbar-track:active { background-color: #ccc; }
::-webkit-scrollbar-thumb { background-color: #3b3a3b; }
::-webkit-scrollbar-thumb:active { background-color: #464646; }
::-webkit-scrollbar-corner { background-color: #737373; }

* {
	box-sizing: border-box;
	outline: none;
	scrollbar-width: thin;
	scrollbar-color: #3b3a3b #737373;
	& ::selection {
		color: #232323;
		background-color: #eee;
	}
	&::before,
	&::after {
		box-sizing: border-box;
	}
}

html {
	@include font("DejaVu Sans Mono", true);
	font-size: 14px;
	color: #fff;
	cursor: url("/static/img/cursor.png"), auto;
	background: #000;
}

body {
	margin: 0;
	p {
		margin: 0;
		margin-bottom: 1rem;
	}
	b,
	strong {
		font-weight: bold;
	}
	a {
		&:link {
			outline: none;
			cursor: url("/static/img/cursor_hand.png"), auto;
		}
		&.sr-skip {
			$width: 250px;
			position: absolute;
			display: flex;
			justify-content: center;
			left: calc(50% - calc($width / 2));
			width: $width;
			transform: translateY(-100%);
			transition: transform 0.5s;
			text-decoration: none;
			text-transform: uppercase;
			color: #fff;
			background-color: rgba(0, 0, 0, 0.6);
			padding: 8px;
			z-index: 10;
			&:focus,
			&:active {
				transform: translateY(0%);
			}
		}
	}
	a:not(.sr-skip),
	button {
		// https://css-tricks.com/keyboard-only-focus-styles/
		&:focus-visible {
			border: 1px solid rgba(255, 0, 0, 0.8);
			border-radius: 2px;
			padding: 0 3px;
		}
	}
	#top {
		margin-bottom: 2rem;
		padding-bottom: 1rem;
		padding-top: 1rem;
	}
	#su {
		display: none;
		position: fixed;
		bottom: 10px;
		right: 10px;
		height: rem(100);
		width: rem(100);
		color: #fff;
		text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
		text-transform: uppercase;
		background: transparent;
		background-size: 100% 100%;
		border: 0;
		margin: 10px;
		font-size: rem(12);
		cursor: url("/static/img/cursor_hand.png"), auto;
		outline: none;
		user-select: none;
		transition: transform 0.1s ease-in-out;
		z-index: 2;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			height: rem(100);
			width: rem(100);
			background-image: url("/static/img/btn_samaritan_indicator.png");
			background-size: 100% 100%;
			opacity: 0.6;
			transition: transform 0.8s;
		}
		&:hover {
			&::before {
				transform: rotate(180deg);
			}
		}
	}
	.container {
		display: block;
		max-width: 1140px;
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}
}

@import "components/layout/header";

.bg-layer {
	&__main {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		background-image: url("/static/img/bg_poi.jpg"); // Fallback
		background-image: -webkit-image-set(url("/static/img/bg_poi.webp") 1x);
		background-size: cover;
		background-position: center;
		opacity: 0.3;
		z-index: -1;
	}
	&__1 {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		background-image: url("/static/img/bg_machine.png");
		background-image: -webkit-image-set(url("/static/img/bg_machine.webp") 1x);
		background-size: cover;
		background-position: center;
		opacity: 0.9;
		transform: rotateX(180deg);
		z-index: -1;
	}
	&__2 {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		background-image: url("/static/img/lensgrid.png");
		background-size: 100% auto;
		z-index: -1;
	}
}

.bg {
	&__lightgray {
		color: #000;
		background-color: #d3d3d3;
		a:link,
		a:visited {
			color: #000 !important;
			text-decoration: none;
		}
		a:hover,
		a:active {
			color: #2a2a2a !important;
			text-decoration: none !important;
		}
	}
	&__darkgray {
		color: #fff;
		background-color: rgba(35, 35, 35, 0.8);
		a:hover,
		a:active {
			text-decoration: none !important;
		}
	}
}

.icon {
	&__deviant {
		float: left;
		background-image: url("/static/img/favicons/404.png");
		background-size: 100% 100%;
		transform: rotate(180deg);
		animation: anim-blink normal 2s infinite;
	}
}

[class*="ep__"] {
	text-transform: lowercase;
	user-select: none;
	-webkit-touch-callout: none;
}

.ep {
	&__cd {
		&:before { content: "\0061\0040\0073\0074\0072\0061\0070\0070"; }
		&:after { content: "\0061\007A\007A\006F\006E\002E\0078\0079\007A"; }
	}
	&__pm {
		&:before { content: "\0073\0074\0072\0061\0070\0070\0061\007A\007A\006F\006E\0040\0070"; }
		&:after { content: "\0072\006F\0074\006F\006E\006D\0061\0069\006C\002E\0063\006F\006D"; }
	}
}

// Styles used by scripts
.d-n { display: none !important; }
.d-b { display: block !important; }

@media (max-width: 1400px) {
	#su {
		display: none !important;
	}
}
