@import "helpers/functions";
@import "helpers/mixins";
@import "helpers/vars";

body {
	main {
		& > hr {
			box-sizing: content-box;
			overflow: visible;
			margin: 1rem 0 1rem 0;
			height: 0;
			border: 0;
			border-top: 1px solid #ff0000;
			box-shadow: 0 0 15px rgba(255, 0, 0, 0.8);
		}
		& > h2 {
			text-transform: uppercase;
		}
	}
	a {
		&:link,
		&:visited {
			color: #fff;
			text-decoration: underline;
		}
		&:hover,
		&:active {
			color: #ccc;
			text-decoration: none;
		}
	}
	h1 {
		color: #ff0000;
		text-shadow: 1px 1px 2px rgba(255, 0, 0, 0.8);
		&::selection {
			color: #ff0000;
			background-color: rgba(134, 0, 0, 0.6);
		}
	}
	h2 {
		font-size: 1.4rem;
		color: #eee;
		margin-bottom: 1.5rem;
	}
	h3,
	h4,
	h5 {
		font-weight: normal;
		text-shadow: 1px 1px 2px #ccc;
	}
	h1,
	h3,
	h4,
	h5,
	h6 {
		text-transform: uppercase;
	}
	h6 {
		font-size: 0.75em;
	}
	ol,
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	button,
	input[type="button"] {
		cursor: url("/static/img/cursor_hand.png"), auto;
		color: #fff;
		@include font("DejaVu Sans Mono", true);
		font-size: 1rem;
		margin: 0;
		margin-top: 3px;
		padding: rem(6) rem(12);
		background-color: #3b3b3b;
		border: 1px solid transparent;
		border-radius: 0;
		text-transform: uppercase;
		text-decoration: none;
		outline: none;
		&:hover {
			color: #fff;
			background-color: rgba(128, 128, 128, 0.4);
			border: 1px solid rgba(128, 128, 128, 0.5);
		}
	}
	input {
			& + label {
				cursor: url("/static/img/cursor_hand.png"), auto;
				margin-left: -5px;
			}
			&[type="checkbox"],
			&[type="radio"] {
				cursor: url("/static/img/cursor_hand.png"), auto;
				appearance: none;
				position: relative;
				width: 1rem;
				height: 1rem;
				background-color: #1d1f21;
				border: 1px solid #808080;
				margin: 0;
				margin-right: 0.5rem;
				&:checked {
					&::before {
						color: #dd0000;
						font-weight: bolder;
						font-size: 1rem;
						position: absolute;
						top: -0.214rem;
						width: 1rem;
						height: 1rem;
					}
				}
			}
			&[type="checkbox"] {
				&:checked {
					&::before {
						content: "\0078"; // Latin Small Letter X
						left: 0.185rem;
					}
				}
			}
			&[type="radio"] {
				border-radius: 50%;
				&:checked {
					&::before {
						content: "\25CF"; // Black Circle
						left: 0.17rem;
					}
				}
			}
			&[type="number"] {
				appearance: textfield;
				&::-webkit-inner-spin-button,
				&::-webkit-outer-spin-button {
					appearance: none;
				}
			}
			&[type="color"] {
				appearance: none;
				background: none;
				border: 0;
				padding: 0;
				cursor: url("/static/img/cursor_hand.png"), auto;
				&::-webkit-color-swatch-wrapper {
					padding: 0;
				}
				&::-webkit-color-swatch{
					border-radius: 0;
				}
				&::-webkit-color-swatch,
				&::-moz-color-swatch {
					border: 0;
				}
			}
			&[type="email"],
			&[type="number"],
			&[type="password"],
			&[type="search"],
			&[type="text"],
			&[type="tel"],
			&[type="url"] {
				border: 1px solid #808080;
				border-radius: 0;
				color: #fff;
				background-color: rgba(0, 0, 0, 0.7);
				padding: 0.357rem 0.714rem;
			}
			&[type] {
				font-family: inherit;
				&:not([type="checkbox"]):not([type="radio"]) {
					margin: 0.4rem 0;
				}
			}
			&[readonly] {
				color: #ccc;
				text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
			}
			&[disabled],
			&[readonly] {
				cursor: not-allowed;
				background-color: rgba(134, 0, 0, 0.4);
			}
		}
		progress {
			appearance: none;
			display: block;
			border: 1px solid #808080;
			border-radius: 0;
			height: 24px;
			width: 100%;
			margin: 1rem 0;
			color: rgba(255, 0, 0, 0.8); // IE10+
			background-color: #808080; // Firefox, IE10+
			&::-webkit-progress-bar,
			&::-webkit-progress-value {
				border-radius: 0;
			}
			&::-webkit-progress-bar {
				background-color: #808080;
			}
			&::-webkit-progress-value {
				background-color: rgba(255, 0, 0, 0.8);
			}
			&::-moz-progress-bar {
				border-radius: 0;
				background-color: rgba(255, 0, 0, 0.8);
			}
		}
		fieldset {
			display: block;
			border: 2px solid #fff;
			border-radius: 5px;
			background-color: rgba(0, 0, 0, 0.6);
			word-wrap: break-word;
			width: 33%;
			max-width: 100%;
			legend {
				display: contents;
				text-transform: uppercase;
				& + * {
					margin-top: rem(6);
				}
				&::before {
					content: "";
					background-color: #ff0000;
					animation: anim-glow 2s ease-in-out infinite;
					border-radius: 50%;
					display: inline-block;
					margin: 8px 12px 0 2px;
					height: 12px;
					width: 12px;
				}
			}
		}
}

.container {
	&__title {
		display: flex;
		align-items: center;
		h4 {
			margin-left: auto;
			text-align: right;
		}
	}
	&__row {
		display: flex;
		flex-wrap: wrap;
		margin-right: -15px;
		margin-left: -15px;
	}
	&__col {
		margin-bottom: 1.5rem;
		position: relative;
		width: 100%;
		min-height: 1px;
		padding: 0 15px 0 15px;
	}
	&__contacts {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: center;
		justify-content: flex-start;
		align-items: flex-start;
		.emails {
			flex: 1;
			margin-right: 1rem;
		}
		.accounts {
			flex: 2;
		}
		.emails,
		.accounts {
			flex-direction: column;
			flex-wrap: wrap;
			align-items: flex-start;
		}
	}
	&__pgp {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap-reverse;
		justify-content: space-between;
		align-items: flex-end;
		margin: 20px 0;
		word-wrap: break-word;
		&__downloads {
			margin-left: 10px;
			flex: 0 0 calc(35% - 10px);
		}
	}
}

@import "components/cards/machine";
@import "components/terminal";

@media (max-width: 420px) {
	.container {
		&__title {
			h1 {
				margin-right: 4px;
			}
			h4 {
				margin-left: 4px;
			}
		}
	}
}

@media (max-width: 576px) {
	.container {
		&__col {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
}

@media (min-width: 768px) {
	.container {
		&__col {
			flex: 0 0 50%;
			max-width: 50%;
		}
	}
}

@media (max-width: 900px) {
	.container {
		&__pgp {
			&__downloads {
				margin-left: initial;
				flex: 0 0 100%;
			}
		}
	}
}
