.highlight {
	background-color: #1d1f21;
	color: #c5c8c6;
	max-height: rem(350);
	.hll {
		background-color: #373b41;
	}
	.err,
	.kt,
	.bp,
	.vi {
		color: #d66;
	}
	.l,
	.ld,
	.cpf,
	.s,
	.sa,
	.sb,
	.sc,
	.dl,
	.sd,
	.s2,
	.se,
	.sh,
	.sx,
	.s1 {
		color: #b5bd68;
	}
	.o {
		color: #8abeb7;
	}
	.c,
	.ch,
	.cm,
	.cp,
	.c1,
	.cs {
		color: #969896;
	}
	.k,
	.kc,
	.kd,
	.kn,
	.kp,
	.kr,
	.nt,
	.ow {
		color: #b294bb;
	}
	.na,
	.nb,
	.nc,
	.nf,
	.nn,
	.nv,
	.fm,
	.vc,
	.vg,
	.vm {
		color: #81a2be;
	}
	.m,
	.no,
	.nd,
	.mb,
	.mf,
	.mh,
	.mi,
	.mo,
	.ss,
	.il {
		color: #de935f;
	}
	.si {
		color: #a3685a;
	}
	.sr {
		color: #8abeb7;
	}
	.w {
		color: #c5c8c6;
	}
	.n,
	.p {
	}
}
