@use 'sass:map';

article {

  /// TOC
  nav {
    position: sticky;
    top: 2rem;
    display: flex;
    flex-flow: column nowrap;
    #toc {
      margin: 0;
    }
    .toc-title {
      padding-top: 1rem;
      font-weight: 700;
      text-transform: uppercase;
    }
    @include respond-to('large') {
      display: none;
    }
  }

  /// MEDIA
  img {
    // & + em { display: block; }
  }
  img,
  svg {
    vertical-align: middle;
  }
  img,
  video {
    max-width: 100%;
    height: auto;
    border: 1px solid var(--bg-color--lighter);
  }
  figure {
    // Liquid tag {% highlight :lang %} puts code blocks inside a <figure> HTML tag
    &:not(.highlight) {
      display: flow-root;
      margin-bottom: 1rem;
      text-align: center;
    }
    figcaption {
      margin-top: 0.25rem;
      font-style: italic;
      color: var(--border-color--dark);
    }
  }
  video {
    display: block;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-left: auto;
  }

  /// LISTS
  /// @link https://www.w3.org/Style/Examples/007/color-bullets.en.html
  ul,
  ol {
    list-style-type: none;
    li {
      p,
      input,
      &::before {
        display: inline-block;
      }
      input,
      &::before {
        margin-right: 0.5rem;
      }
      &::before {
        font-weight: 700;
        color: var(--brand-color--shadow);
      }
      p {
        margin-bottom: 0;
      }
    }
  }
  ol {
    & > li {
      counter-increment: li;
      &::before {
        width: 1rem;
        text-align: right;
        direction: rtl;
        content: counter(li, decimal-leading-zero);
      }
    }
  }
  ul:not(.task-list) {
    & > li {
      &::before {
        // Circle
        content: '\25CF';
      }
      ul,
      ol {
        margin-left: 1rem;
        ol {
          margin-left: 2rem;
        }
      }
      ul {
        li {
          &::before {
            font-size: 0.625rem;
            // Right-pointing triangle
            content: '\25B6';
          }
        }
      }
    }
  }
  // Indent nested <ol> elements
  // Double margin because ol>li counter is inside a 1rem wide box
  // stylelint-disable no-descending-specificity
  ul ~ ol,
  ol {
    ol {
      margin-left: 2rem;
    }
    li,
    & > li {
      & > ul {
        margin-left: 2rem;
      }
    }
  }
  // stylelint-enable no-descending-specificity

  /// TASK LIST
  .task-list {
    input {
      &[type='checkbox'] {
        position: relative;
        top: 0.125em;
        width: 1rem;
        height: 1rem;
        font-size: 1.15em;
        appearance: none;
        background-color: var(--table-bg-color--even);
        border: 1px solid var(--border-color--dark);
        &:checked {
          &::before {
            position: absolute;
            top: -0.435em;
            left: 0.125em;
            font-weight: 700;
            color: var(--brand-color);
            // Latin Small Letter X
            content: '\0078';
          }
        }
        &[disabled],
        &[readonly] {
          cursor: not-allowed;
          background-color: var(--brand-color--clear);
        }
      }
    }
  }

  /// SOURCE CODE
  pre,
  code,
  kbd {
    font-family: $font-stack-code;
  }
  code {
    direction: ltr;
    unicode-bidi: bidi-override;
  }
  code,
  kbd {
    font-size: 0.825rem;
  }
  pre {
    display: block;
    padding: px2rem(12px);
    margin-top: 0;
    overflow: auto;
    overscroll-behavior: contain;
    line-height: 1.2;
    border: 1px solid var(--border-color--dark);
    border-radius: 0;
    code {
      word-break: normal;
    }
  }
  *:not(pre) {
    & > code,
    & > kbd {
      padding: px2rem(3px) px2rem(6px);
      margin: 0 px2rem(3px);
      color: var(--text-color--secondary);
      word-wrap: break-word;
      background-color: var(--bg-color--light);
      border: 1px solid var(--border-color--dark);
    }
  }
  .highlight {
    max-height: px2rem(350px);
  }
  *:not(.highlight) {
    [class^='language-'][class*='highlighter-'] {
      margin-bottom: 1rem;
    }
  }
  .machine__code {
    &-header,
    &-header + figure pre {
      border: 6px solid var(--bg-color--lighter);
    }
    &-header {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0;
      background-color: map.get($hl-themes, $hl-theme, 'background');
      border-bottom: 0;
      & .title,
      & .clipboard {
        padding: 0 px2rem(12px);
        font-size: 0.875em;
        color: var(--text-color--secondary);
        background-color: var(--bg-color);
      }
      // & .title {}
      & .clipboard {
        display: none;
        font-family: $font-stack-text;
        border: 0;
        opacity: 0;
      }
    }
    @media screen and (hover: hover) {
      @include hocus {
        .clipboard {
          display: unset;
          opacity: 1;
          @include hocus {
            color: var(--text-color);
          }
        }
      }
    }
  }

  /// TABLE
  table {
    width: 100%;
    margin-bottom: 1rem;
    table-layout: fixed;
    border-collapse: collapse;
    caption {
      margin-bottom: 0.33em;
      font-family: 'Acens', $font-stack-text-system;
      // text-align: left;
      letter-spacing: 0.1em;
      caption-side: top;
    }
    caption,
    th {
      text-transform: uppercase;
    }
    thead {
      border-bottom: 1px solid var(--border-color--dark);
    }
    tbody {
      tr {
        &:nth-child(even) {
          background-color: var(--table-bg-color--even);
        }
        &:nth-child(odd) {
          background-color: var(--table-bg-color--odd);
        }
      }
    }
    tfoot {
      border-top: 1px solid var(--border-color--dark);
    }
    thead,
    tfoot {
      background-color: var(--bg-color--light);
    }
    td,
    th {
      padding: 0.3rem;
      vertical-align: top;
      text-align: left;
      word-wrap: break-word;
    }
  }

  /// QUOTE
  blockquote {
    padding: 0.8rem 1rem;
    margin: 1rem;
    color: var(--text-color--secondary);
    background-color: var(--bg-color--clear);
    border: 8px solid var(--border-color--dark);
    // stylelint-disable-next-line no-descending-specificity
    p {
      margin-bottom: 0;
    }
  }

  /// ABBREVIATION
  abbr {
    &[title] {
      text-decoration: none;
      cursor: help;
      border-bottom: 1px solid var(--brand-color);
    }
  }

  /// DESCRIPTION LIST
  dl {
    dt {
      font-family: 'Acens', $font-stack-text-system;
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }
    dd {
      padding-left: 1.5rem;
      &::before {
        font-size: 0.825rem;
        color: var(--brand-color--shadow);
        // Right-pointing triangle
        content: '\25B6\00a0';
      }
    }
  }

  /// DETAILS
  /// @link https://codepen.io/knyttneve/pen/LamBMP
  details {
    summary {
      display: block;
      padding: px2rem(6px);
      text-transform: uppercase;
      user-select: none;
      border-bottom: 2px solid;
      transition: 0.3s;
      & ~ div {
        display: flex;
        flex-wrap: wrap;
        // max-height: 33vh;
        padding: 0.75rem;
        overflow: auto;
        overscroll-behavior: contain;
        border-bottom: 2px solid var(--border-color--dark);
        p {
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
    &[open] {
      & > summary {
        font-weight: 700;
        color: var(--brand-color);
      }
      & > div {
        animation: details-slide-down 0.3s forwards;
      }
    }
  }
  // details ~ *:not(details) { margin-top: 1rem; }

  /// HIGHLIGHTED TEXT
  mark {
    padding: 0 px2rem(3px);
    color: var(--text-color);
    text-transform: uppercase;
    background-color: var(--brand-color--dark);
  }

  /// SUB/SUP SCRIPT
  sup,
  sub {
    margin: 0 0.2em;
  }

  /// FOOTNOTES
  .footnote {
    color: var(--text-color--secondary);
    text-decoration: none;
    &::before {
      content: '[';
    }
    &::after {
      content: ']';
    }
  }
  .footnotes {
    padding-top: 1rem;
    border-top: 1px solid var(--brand-color);
    // stylelint-disable-next-line no-descending-specificity
    ol {
      margin: 0;
    }
  }
}

footer {
  justify-content: space-between;
  blockquote & {
    justify-content: flex-start;
    margin-bottom: 0;
  }
}

.container {
  &__title {
    &-desc {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-end;
      justify-content: center;
    }
    // reading_time.rb plugin
    .read-time {
      @extend %h4;
      margin-bottom: 0;
      color: var(--text-color--secondary);
      text-transform: unset;
      text-shadow: none;
    }
  }
}
