footer {
  place-content: center center;
  align-items: center;
  p {
    margin-bottom: 0;
  }
}

.text__color-green {
  color: var(--text-color--green);
}

.text__color-yellow {
  color: var(--text-color--yellow);
}
