<header itemscope itemtype="http://schema.org/WPHeader">
	<div class="logo" role="presentation">
		<img src="/static/img/logo_32.png" alt="" draggable="false">
		<span class="separator" aria-hidden="true">///</span>
		<span>
			{% if page.layout == "blog" %}
				{{ site.data.blog.title | upcase }}
			{% else %}
				{{ site.data.meta.title | upcase }}
			{% endif %}
		</span>
	</div>
	{% if page.url != "/" %}
		<nav aria-label="Main navigation">
			{% if page.layout == "blog" %}
				<a href="/blog/">Blog</a> |
			{% endif %}
			<a href="/">Home</a>
		</nav>
	{% endif %}
</header>
<div id="top"></div>
