<header itemscope itemtype="http://schema.org/WPHeader">
	<div class="title">
		<div class="logo" role="presentation">
			<img src="/static/img/logo_32.png" height="18px" width="18px" alt="" draggable="false">
			<span class="separator" aria-hidden="true">///</span>
		</div>
		<div class="name">
			{% if page.layout == "blog" %}
				{{ site.blog_meta.title | upcase }}
			{% else %}
				{{ site.meta.title | upcase }}
			{% endif %}
		</div>
	</div>
	{% if page.url != "/" %}
		<nav aria-label="Main navigation">
			{% if page.layout == "blog" %}
				<a href="/blog/">Blog</a> |
			{% endif %}
			<a href="/" translate="no">Home</a>
		</nav>
	{% endif %}
</header>
<div id="top"></div>
