@import "helpers/functions";

.card {
	&__machine,
	&__machine-alt {
		position: relative;
		display: flex;
		flex-direction: column;
		min-width: 0;
		word-wrap: break-word;
		background-color: rgba(0, 0, 0, 0.6);
		a {
			&:link,
			&:visited {
				text-decoration: none;
			}
		}
	}
	&__machine {
		border: 2px solid #fff;
		border-radius: 5px;
		p,
		h2 {
			padding: 0 rem(12);
		}
		h2 {
			margin-bottom: 1rem;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			align-content: center;
		}
		p {
			color: #aaa;
			&:nth-of-type(1) {
				margin-bottom: 0;
			}
			&:nth-of-type(2) {
				color: #fff;
			}
			span {
				color: #fff;
			}
		}
		hr {
			box-sizing: content-box;
			overflow: visible;
			margin: 1rem 0 1rem 0;
			height: 0;
			border: 0;
			border-top: 1px solid #fff;
		}
		.dot {
			&__active {
				background-color: #ff0000;
				animation: anim-glow 2s ease-in-out infinite;
			}
			&__inactive {
				background-color: #ccc;
			}
			&__active,
			&__inactive {
				display: inline-block;
				margin: 0 15px 0 5px;
				height: 18px;
				width: 18px;
				border-radius: 50%;
			}
		}
		.title {
			&__active {
				color: #fff;
			}
			&__inactive {
				color: #ccc;
			}
			&__active,
			&__inactive {
				word-break: break-word;
			}
		}
		.type {
			&__text {
				color: #000;
				background-color: #fff;
				text-transform: uppercase;
				&::selection {
					background-color: #000;
					color: #fff;
				}
				padding: 0 10px 0 10px;
			}
			&__other {
				color: #fff;
				font-size: rem(18);
				vertical-align: middle;
				text-shadow: 0 0 10px #fff;
			}
		}
		.status {
			&__text {
				color: #000;
				background-color: #fff;
				text-transform: uppercase;
				&::selection {
					background-color: #000;
					color: #fff;
				}
				padding: 0 rem(6) 0 rem(12);
			}
			&__active,
			&__inactive {
				font-size: rem(18);
				vertical-align: middle;
			}
			&__active {
				color: #ff0000;
				text-shadow: 0 0 10px #ff0000;
				&::selection {
					color: #ff0000;
					background-color: rgba(134, 0, 0, 0.6);
				}
			}
			&__inactive {
				color: #ccc;
				text-shadow: 0 0 10px #ccc;
			}
		}
		&-alt {
			border: 10px solid #808080;
			border-radius: 0;
			padding: 5px;
			& > .title {
				font-size: 1.15rem;
				text-transform: uppercase;
			}
			& > div,
			& > small {
				margin: 0 5px;
			}
		}
	}
}
