@import "helpers/functions";

.box {
	&__samaritan {
		text-transform: uppercase;
		.row {
			border: 2px solid #808080;
		}
		.title {
			margin-top: 5px;
			font-size: rem(16);
			text-align: center;
			background-color: #b60000;
		}
		.desc {
			padding: 5px 5px 2px 5px;
			font-size: 0.9rem;
			text-align: center;
			text-transform: initial;
		}
		.subtitle {
			display: flex;
			align-items: center;
			width: rem(100);
			font-size: 0.85rem;
			padding: 0 8px;
			background-color: rgba(35, 35, 35, 0.8);
			span {
				margin-left: 4px;
			}
		}
		.icon {
			&__deviant {
				width: 12px;
				height: 12px;
				margin: 4px 0;
			}
		}
		&-alt {
			.row {
				border: 0;
			}
			.content {
				border-top: 2px solid #d3d3d3;
				border-bottom: 2px solid #d3d3d3;
			}
			.title {
				display: flex;
				width: rem(66);
				padding: 0 12px;
				background-color: rgba(35, 35, 35, 0.8);
			}
			.title,
			.text {
				text-transform: uppercase;
			}
		}
	}
	&__samaritan,
	&__samaritan-alt {
		position: relative;
		display: flex;
		flex-direction: column;
		min-width: 0;
		word-wrap: break-word;
		color: #fff;
		margin: 0 15px 15px 15px;
		padding: 5px;
		a {
			&:link,
			&:visited {
				color: #fff;
				text-decoration: none;
			}
			&:hover,
			&:active {
				color: #ccc;
				text-decoration: underline;
			}
		}
		.title {
			text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
		}
		.content {
			padding: 5px 0;
			background-color: rgba(96, 96, 96, 0.7);
		}
		.row {
			margin: 10px;
			min-height: rem(24);
			font-size: 0.85rem;
			line-height: 1.52;
			clear: both;
		}
		.text {
			float: left;
		}
		.label {
			float: right;
		}
		.text,
		.label {
			padding: 2px 5px 0 5px;
		}
	}
}
