---
layout: pages
title: "Accounts & Keys | Alberto Strappazzon"
description: "This page contains all my accounts and public keys I use."
short_desc: "Accounts and public keys I use"
permalink: /accounts/
---

<div class="container__contacts">
	<div class="emails">
		<h3 id="emails">Emails</h3>
		<ul>
			<li>
				<span class="ep__cd"></span>
			</li>
			<li>
				<span class="ep__pm"></span>
			</li>
		</ul>
	</div>
	<div class="accounts">
		<h3 id="accounts">Accounts</h3>
		<ul>
			{% for a in site.data.accounts.short_list %}
				<li>
					{{ a.name}} <a aria-label="{{ a.name }} Account" href="{{ a.url }}">{{ a.username }}</a>
				</li>
			{% endfor %}
			{% for a in site.data.accounts.long_list %}
				<li>
					{{ a.name}} <a aria-label="{{ a.name }} Account" href="{{ a.url }}">{{ a.username }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>

<h3 id="pgp-keys">PGP Keys</h3>

<p>You can encrypt files or messages to me using these PGP public keys.</p>

<div class="container__pgp">
	{% include terminal.html
		title="Task - List PGP Keys"
		username="alberto"
		hostname="strappazzon"
	%}
	<div class="container__pgp__downloads">
		<p>
			<span class="ep__cd"></span>
			<br>
			<a id="strappazzon_xyz" aria-label="Download PGP Key" href="/static/strappazzon_xyz.asc">
				<button type="button" aria-labelledby="strappazzon_xyz">Dowload PGP Key</button>
			</a>
		</p>
		<p>
			<span class="ep__pm"></span>
			<br>
			<a id="strappazzon_pm" aria-label="Download PGP Key" href="/static/strappazzon_pm.asc">
				<button type="button" aria-labelledby="strappazzon_pm">Dowload PGP Key</button>
			</a>
		</p>
	</div>
</div>
