---
layout: pages
title: "Projects | Alberto Strappazzon"
description: "My projects and contributions."
permalink: /projects/
---

<div class="title">
	<h1>Projects</h1>
	<h4>My projects and contributions</h4>
</div>

<hr>

<h2 id="software-scripts">Software, Scripts</h2>

<div class="row">
	{% include cards/machine.html
		type=""
		title="Teleme7ry"
		description="Automated batch script for Windows 7 that removes/blocks telemetry-related tasks, services, updates and hostnames/IP addresses. It also removes nagware tasks and updates."
		language="Batch"
		website="/teleme7ry"
		download="https://github.com/Strappazzon/teleme7ry/releases"
		source="https://github.com/Strappazzon/teleme7ry"
		active=true
	%}
	{% include cards/machine.html
		type=""
		title="UncensoredDNS4Magisk"
		description="Magisk module that makes your device use UncensoredDNS DNS servers systemlessly."
		language="Bash"
		website="https://github.com/Strappazzon/UncensoredDNS4Magisk/blob/master/.github/README.md"
		download="https://github.com/Strappazzon/UncensoredDNS4Magisk/releases"
		source="https://github.com/Strappazzon/UncensoredDNS4Magisk"
		active=false
	%}
</div>
<div class="row">
	{% include cards/machine.html
		type=""
		title="SCAM Lock Tool"
		description="Replacement for SAM Lock Tool (aka syskey), which is used to encrypt the account credentials stored inside the SAM file. Tech support scammers use syskey to lock their victims out of their computer, but with SCAM Lock Tool they won't be able to do it."
		language="Visual Basic .NET"
		website="https://github.com/Strappazzon/SCAM-Lock-Tool/blob/master/.github/README.md"
		download="https://github.com/Strappazzon/SCAM-Lock-Tool/releases"
		source="https://github.com/Strappazzon/SCAM-Lock-Tool"
		active=false
	%}
	{% include cards/machine.html
		type=""
		title="Fake slui"
		description="Fake Windows Activation pop-up programmed to waste tech support scammers' time."
		language="Visual Basic .NET, PowerShell"
		website="https://github.com/Strappazzon/fake-slui/blob/master/.github/README.md"
		download="https://github.com/Strappazzon/fake-slui/releases"
		source="https://github.com/Strappazzon/fake-slui"
		active=false
	%}
</div>

<h2 id="web">Web</h2>

<div class="row">
	{% include cards/machine.html
		type=""
		title="Tor Exit Router Page"
		description="Alternative design to the default Tor exit router page provided by The Tor Project."
		language="HTML, CSS"
		website="/tor-exit-page"
		download="https://github.com/Strappazzon/tor-exit-page#configuration"
		source="https://github.com/Strappazzon/tor-exit-page"
		active=true
	%}
	{% include cards/machine.html
		type=""
		title="New Tab Page"
		description="Minimal new tab page with just a search bar."
		language="HTML, CSS"
		website="/newtab"
		download=""
		source="https://github.com/Strappazzon/newtab"
		active=true
	%}
</div>

<h2 id="gaming">Gaming</h2>

<div class="row">
	{% include cards/machine.html
		type="Software"
		title="GHOST Buster"
		description="Ghost Recon&reg; Wildlands backup utility."
		language="Visual Basic .NET"
		website="/GRW-GHOST-Buster"
		download="https://github.com/Strappazzon/GRW-GHOST-Buster/releases"
		source="https://github.com/Strappazzon/GRW-GHOST-Buster"
		active=true
	%}
	{% include cards/machine.html
		type="Software"
		title="SuperBLT Hasher"
		description="SuperBLT Hasher is a Visual Basic .Net implementation of the SuperBLT Hashing Library. Hashing of single files and folders is supported."
		language="Visual Basic .NET"
		website="/PD2-SuperBLT-Hasher"
		download="https://github.com/Strappazzon/PD2-SuperBLT-Hasher/releases"
		source="https://github.com/Strappazzon/PD2-SuperBLT-Hasher"
		active=true
	%}
</div>
<div class="row">
	{% include cards/machine.html
		type="Software"
		title="Screendere Beat"
		description="Capture screenshots of Hinedere Beat's uncensored version."
		language="Visual Basic .NET"
		website="/Screendere-Beat"
		download="https://github.com/Strappazzon/Screendere-Beat/releases"
		source="https://github.com/Strappazzon/Screendere-Beat"
		active=true
	%}
	{% include cards/machine.html
		type="PAYDAY 2 Mod"
		title="Real Weapon Names"
		description="Rename PAYDAY 2 weapons and attachments to their real life counterparts."
		language="Lua"
		website="https://modworkshop.net/mod/19958"
		download="https://modworkshop.net/mod/19958"
		source="https://github.com/Strappazzon/PD2-Real-Weapon-Names"
		active=false
	%}
</div>

<hr>
