.email {
  .terminal & {
    word-break: keep-all;
    &::before {
      content: attr(data-domain) '\0040' attr(data-user);
      direction: rtl;
      unicode-bidi: bidi-override;
    }
  }
  span {
    display: none;
  }
}
