.icon {
  &__deviant {
    width: 1rem;
    height: 1rem;
    background-image: url('#{$base-url}img/icons/deviant.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: rotate(180deg);
    animation: blink 2s infinite;
    @include reduced-motion {
      animation: none;
    }
  }
}
