@import "../helpers/mixins";
@import "../helpers/vars";

$terminal-w: 0 0 calc(65% - 10px);
$terminal-h: 350px;

.terminal {
	margin: 0;
	flex: $terminal-w;
	min-width: 350px;
	min-height: $terminal-h;
	border: 1px solid #222;
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	@include font("Ubuntu Mono", true);
	font-size: 1rem;
	&__title {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		margin: 0;
		padding: 2px 5px;
		border-bottom: 1px solid rgba(34, 34, 34, 0.8);
		background-color: rgba(0, 0, 0, 0.9);
		background-image: linear-gradient(to bottom, rgba(34, 34, 34, 0.8) 25%, rgba(0, 0, 0, 0.5) 75%);
		font-size: rem(16);
		font-weight: normal;
		line-height: 1;
		text-shadow: 1px 1px 2px #ccc;
		clear: both;
		.title {
			display: flex;
			align-items: center;
		}
		.icon {
			&__deviant {
				width: 14px;
				height: 14px;
				margin: 1px 2px;
			}
		}
		.separator {
			letter-spacing: -1px;
			font-size: 1rem;
			margin-top: -2px;
		}
		.session {
			margin-left: 3px;
			color: rgba(255, 0, 0, 0.8);
			text-transform: uppercase;
			text-shadow: 1px 1px 2px rgba(255, 0, 0, 0.8);
			&::selection {
				color: #ff0000;
				background-color: rgba(134, 0, 0, 0.6);
			}
		}
		.buttons {
			margin: -5px 0 0 0;
			.btn {
				margin: 4px;
				float: left;
				font-size: 1rem;
				vertical-align: middle;
				cursor: url("/static/img/cursor_hand.png"), auto;
				&__min {
					color: rgba(27, 201, 60, 0.5);
				}
				&__max {
					color: rgba(254, 190, 0, 0.5);
				}
				&__close {
					color: rgba(255, 93, 80, 0.5);
				}
			}
		}
	}
	&__content {
		margin: 0;
		width: 100%;
		height: $terminal-h;
		word-break: break-all;
		overflow: auto;
		.row {
			height: 16px;
			margin: 4px 6px;
			line-height: 1;
			clear: both;
			.text {
				float: left;
				width: 100%;
				margin: 2px 0;
				&:nth-child(1) {
					margin-top: 5px;
				}
				&:nth-last-child(1) {
					margin-bottom: 5px;
				}
				.c {
					&::after {
						content: "\005F";
						animation: anim-blink 1s linear infinite;
					}
				}
			}
		}
	}
}

// Terminal theme
.h {
	&__uh { color: rgba(247, 202, 3, 0.8); } // User and Hostname
	&__at { color: rgba(20, 140, 252, 0.8); } // Account type
	&__ca { color: rgba(204, 204, 204, 0.8); } // Command arguments, Comments
	&__st { color: rgba(71, 210, 86, 0.8) } // String
	&__si { color: rgba(170, 75, 170, 0.8) } // String interpolation
}

@media (max-width: 800px) {
	.terminal {
		width: 100%;
	}
}

@media (max-width: 900px) {
	.terminal {
		flex: 0 0 100%;
	}
}
