<!DOCTYPE html>
<html lang="en" dir="ltr">
{% include head.html %}
<body>
	<div class="bg-layer-1"></div>
	<div class="bg-layer-2"></div>
	<button type="button" id="scroll-up">Top</button>
	{% include pages/header.html %}
	<div id="top"></div>
	<div class="container" role="main">
		<main>
			<div class="title">
				{% assign pt = page.title | split: " | " %}
				<h1>{{ pt[0] }}</h1>
				<h4>{{ page.short_desc }}</h4>
			</div>

			<hr aria-hidden="true">

			{{ content }}

			<hr aria-hidden="true">
		</main>
	</div>
</body>
</html>
