{% comment %}
	{% include video.html
		url    = "https://example.com/#video-url"
		format = "webm"
	%}
	{% include video.html
		url     = "https://example.com/#video-url"
		format  = "webm"
		preview = "https://example.com/#placeholder-image"
	%}
{% endcomment %}

<video
	{% if include.align == "center" %}
		align="{{ include.align }}"
	{% endif %}
	controls
	muted
	{% if include.preview != "" %}
		poster="{{ include.preview }}"
	{% endif %}
	preload="metadata">

	<source src="{{ include.url }}" type="video/{{ include.format }}">
	Unsupported video.
</video>
