header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: z('header');
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  align-items: baseline;
  justify-content: space-between;
  height: 2.5em;
  padding: px2em(7px, $font-size-small) px2em(15px, $font-size-small);
  font-size: $font-size-small;
  background-color: var(--bg-color--clear);
  border-bottom: 1px solid var(--text-color--secondary);
  @include respond-to('smallest') {
    gap: unset;
    justify-content: flex-start;
  }
  .title {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.33em;
    align-items: center;
    font-family: 'Coda', $font-stack-text-system;
    @include respond-to('small') {
      font-size: 0.875em;
    }
    .logo {
      img {
        margin-top: px2em(-3px, $font-size-small);
        vertical-align: middle;
        user-select: none;
        filter: brightness(2.33) contrast(1);
      }
      @include respond-to('smaller') {
        display: none;
      }
      .separator {
        margin-left: 0.33em;
        letter-spacing: 0.063em;
        text-shadow: 1px 1px 2px var(--brand-color);
      }
    }
    .name {
      letter-spacing: 0.084em;
      @include respond-to('smallest') {
        display: none;
      }
    }
  }
  nav {
    a {
      margin: 0 px2em(3px, $font-size-small);
      text-decoration: none;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  // Empty space at the top of the page
  & ~ #top {
    // <header> height
    padding-bottom: px2rem($font-size-small * 2.5);
    margin-bottom: 1.5rem;
  }
}
