@keyframes blink {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes details-slide-down {
  0% {
    height: 0;
    padding: 0;
    opacity: 0;
  }
  100% {
    max-height: 30vh;
    padding: px2rem(12px);
    opacity: 1;
  }
}

@keyframes glow {
  0%   { box-shadow: 0 0 var(--brand-color); }
  100% { box-shadow: 0 0 0 14px transparent; }
}
